@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@500&display=swap");
.main-container {
  width: 100%;
  height: 90vh;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-container {
  height: 90%;
  width: 90%;
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.sub-container-left {
  width: 35%;
  height: 95%;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
}
.sub-container-left-photo {
  width: 100%;
  border-radius: 15px;
}
.sub-container-right {
  width: 55%;
  height: 95%;
  /* border: 1px solid red; */
  position: relative;
}

.name {
  width: auto;
  height: auto;
  /* border: 1px solid blue; */
  position: absolute;
  top: 90px;
  left: 50px;
}
.name span {
  color: #20247b;
  font-size: 60px;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif;
}
.designation {
  width: auto;
  height: auto;
  /* border: 1px solid blue; */
  position: absolute;
  top: 175px;
  left: 50px;
}
.designation span {
  color: #fb5c5f;
  font-size: 35px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}
.others {
  width: 500px;
  height: 200px;
  border: 1px solid blue;
  position: absolute;
  display: inline;
  top: 240px;
  left: 50px;
}
.other-details{
    height:33%;
    width: 100%;
    border: 1px solid red;
}
